{% extends 'layout.html' %}
{% block title %}Change Password{% endblock title %}

{% block main_content %}
    <section class="container">
        <div class="row justify-content-around mt-5">
            <div class="col-sm-5">
                <h3>Change Password</h3>
            </div>
        </div>
        <div class="row justify-content-around mt-2">
            <div class="col-sm-5">
                <form action="" method="post" class="bg-white p-3 rounded">
                    {% csrf_token %}
                    {% for form in form %}
                    {{form.label_tag}}
                    {{form}}
                    <small class="text-danger">{{form.errors|striptags}}</small>
                    {% endfor %}
                    <input type="submit" value="Change Password" class="btn btn-primary mt-2">
                </form>
            </div>
        </div>

    </section>

{% endblock main_content %}

