{% extends 'layout.html' %}
{% block title %}Details{% endblock title %}

{% block main_content %}
<section class="container">
    <div class="row justify-content-around text-center mt-5">
        <div class="col-sm-8">
            <h3>USER PROFILE </h3>
        </div>
    </div>

    <div class="row justify-content-around text-center mt-1">
        <div class="col-sm-12">
            <table class="table table-dark table-hover">
                <thead class="border-bottom font-weight-bold">
                    <tr>
                        <th>First_name</th>
                        <th>Last_name</th>
                        <th>Address</th>
                        <th>Contact</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
        <tbody>
            {% for profile in profiles %}
            <tr>
                <td>{{ profile.first_name }}</td>
                <td>{{ profile.last_name }}</td>
                <td>{{ profile.address }}</td>
                <td>{{ profile.contact }}</td>
                <td>{{ profile.age }}</td>
                <td>{{ profile.email }}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'useraccount_app:profile_edit' profile.id %}">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
            </table>
        </div>
    </div>

</section>
{% endblock main_content %}
